
@using BookStorePrueba.Models.Tables
@inject Microsoft.AspNetCore.Identity.SignInManager<UserTable> _signInManager

@if (_signInManager.IsSignedIn(User))
{
<li class="nav-item">
    <div class="container-fluid">
        <span class="navbar-text">
            Hello @User.FindFirst("UserFirstName").Value @User.FindFirst("UserLastName").Value
            <a class="btn btn-primary" asp-controller="Account" asp-action="SignOut">LogOut</a>
            <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">ChangePassword</a>
        </span>
    </div>
   
</li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="SignIn">Login</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="SignUp">Register</a>
    </li>
}
