
@{
 
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css/Site.css" rel="stylesheet" />

</head>

    <body class="container">
       
        <img src="~/Images/logo.jpg" alt="Logo" class="logo"/>

        <input type="button" class="btn btn-danger" value="Click Me"/>
 

        <h1>Welcome to the book store</h1>
        
        <p>This is the hme page of our book store application</p>



    </body>
 
</html>


