@{
    Layout = null;
    string name = "Kevin";
    string email = "kevinvb612@gmail.com";
}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>

    <title>ContactUs</title>
 
</head>

<body>
    
    <h1>Hello, please contact to @name at @email </h1>


</body>
</html>



